body {
  background-color: grey;
}

.photo-card {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.input {
  display: block;
  margin-left: auto;
  margin-right: auto;

  border-radius: 4px;
  width: 400px;
  height: 30px;
  font-size: 25px;
}
.stats {
  margin-left: 30px;
}

.title {
  text-align: center;
  font-size: 60px;
}

.button {
  border-radius: 4px;
  width: 400px;
  height: 30px;
  font-size: 25px;
  margin-left: 500px;

  display: block;
  margin-right: auto;
  margin-left: auto;
}

.button.is-hidden {
  display: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
